{% extends 'layouts/base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
{% include "partials/flash_message.html" %}

<div class="container mt-4">
    <div class="mb-3">
      <a href="{% url 'category_list' %}" class="text-decoration-none text-primary">
        ← {% translate "Back to Categories" %}
      </a>
    </div>
  
    <h1 class="text-primary mb-4">{{ category.name }} {% translate "in" %} {{ current_city.name }}</h1>
  
    {% include "partials/_product_grid.html" %}

{% endblock %}